/* src/components/Home.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #343a40;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .brand {
    font-size: 1.5em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    margin-top: 20px; /* Add margin-top to create space */
    display: flex;
    justify-content: center;
  }
  
  .cta-button {
    font-size: 1.2em;
    color: #007bff;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Add margin between buttons */
  }
  
  .cta-button:hover {
    background-color: #f8f9fa;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    text-align: center;
  }
  